body, html {
	height: 100%;
	margin: 0;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-between;
	
	background-color: white;
	border-bottom-style: solid;
	border-color: #6a6a6a;
	border-width: 2px;
	height: 60px;
}

#logo {
	flex-grow: 0;
	margin: 7px;
}

#logo a img {
	object-fit: contain;
	height: 100%;
	width: auto;
}

nav {
	display: flex;
	flex-grow: 0;
	margin: 7px;
	align-items: center;
}

nav a {
	justify-content: space-evenly;
	margin: 0 7px;
	
	color: #6a6a6a;
	text-align: center;
	text-decoration: none;
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	width: 60%;
	margin: 10px auto;
}






main {
	width: 100%;
	height: calc( 100% - 62px );
}

#mapid { 
	width: 100%;
	height: 100%;
	z-index: 500;
}

#controls {
	display: block;
	position: absolute;
	bottom: 1em;
	left: 1em;
	z-index: 401;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

controls > li{
	display: block;
	position: relative;
}

#controls > li:not(:last-child){
	margin: 0 0 15px 0;
}

#controls > li > ul{
	display: block;
	list-style: none;
	text-align: center;
	padding: 0;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#controls > li > ul > li{
	width: 40px;
	height: 40px;
	
	background-color: white;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-position: 50% 50%;
	background-size: contain;
	
}

#controls > li > ul > li:not(:last-child){
	margin: 0 0 4px 0;
}

#controls > li > ul > li > a{
	padding-top: 100px;
	display: block;
	position: relative;
}

#controls > li > ul > li > a span{
	display: none;
	position: absolute;
	left: 50px;
	top: 10px;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none;
	background-color: white;
	border-radius: 3px;
	padding: 2px 4px;
	height: 20px;
	line-height: 20px;
	color: #6a6a6a;
	white-space: nowrap;
	z-index:511;
}

#controls > li > ul > li:hover a span{
	display: block;
}

#altitude_box{
	width:50px;
	height:226px;
	background-color:white;
	z-index:510;
	display: block;
	position: absolute;
	top:65px;
	left:50px;
	border-radius: 0 5px 5px 0;
}