body, html {
	height: 100%;
	margin: 0;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-between;
	
	background-color: white;
	border-bottom-style: solid;
	border-color: #6a6a6a;
	border-width: 2px;
	height: 60px;
}

#logo {
	flex-grow: 0;
	margin: 7px;
}

#logo a img {
	object-fit: contain;
	height: 100%;
	width: auto;
}

nav {
	display: flex;
	flex-grow: 0;
	margin: 7px;
	align-items: center;
}

nav a {
	justify-content: space-evenly;
	margin: 0 7px;
	
	color: #6a6a6a;
	text-align: center;
	text-decoration: none;
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	width: 60%;
	margin: 10px auto;
}






main {
	width: 100%;
	height: calc( 100% - 62px );
}

#mapid { 
	width: 100%;
	height: 100%;
	z-index: 500;
}

#controls {
	display: block;
	position: absolute;
	bottom: 1em;
	left: 1em;
	z-index: 401;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

controls > li{
	display: block;
	position: absolute;
}

#controls > li:not(:last-child){
	margin: 0 0 15px 0;
}

#controls > li > ul{
	display: block;
	list-style: none;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

#controls > li > ul > li{
	width: 44px;
	height: 44px;
	
	background-color: white;
	background-repeat: no-repeat;
	
	background-position: 50% 50%;
	background-size: 40px 40px;
	
}



#controls > li > ul > li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#controls > li > ul > li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


#controls > li > ul > li > a{
	padding-top: 50px;
	display: block;
	position: relative;
}

#controls > li > ul > li > a span{
	display: none;
	position: absolute;
	left: 54px;
	top: 12px;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none;
	background-color: white;
	border-radius: 3px;
	padding: 2px 4px;
	height: 20px;
	line-height: 20px;
	color: #6a6a6a;
	white-space: nowrap;
	z-index:511;
}

#controls > li > ul > li:hover a span{
	display: block;
}

#altitude_box {
	width:50px;
	height: 220px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top:59px;
	left:44px;
	display: none;
}

#altitude_slider{
	margin: 16px auto 0 auto;
	height:160px;
}

#altitude_value{
	border: 0px;
	width: 30px;
	margin: 14px auto;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

#heading_box {
	width:50px;
	height: 220px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top:59px;
	left:44px;
	display: none;
}

#heading_slider{
	margin: 16px auto 0 auto;
	height:160px;
}

#heading_value{
	border: 0px;
	width: 30px;
	margin: 14px auto;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

#overlap_box {
	width:50px;
	height: 220px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top:59px;
	left:44px;
	display: none;
}

#overlap_slider{
	margin: 16px auto 0 auto;
	height:160px;
}

#overlap_value{
	border: 0px;
	width: 30px;
	margin: 14px auto;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

#camera_box {
	width:90px;
	height: 120px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top:159px;
	left:44px;
	display: none;
}

#camera_box h6 {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 7px 0 1px 0;
	font-weight: bold;
}
#camera_box input {
	width: 65px;
	padding: 3px;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

#bird_box {
	width:228px;
	height: 220px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top:59px;
	left:44px;
	display: none;
}

#bird_box input {
	padding: 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#bird_input {
	width: 200px;
	background-color: white;/*#f2f2f2;*/
	border: 1px solid #e3e3e3;
	margin: 10px 0 0 0;
}

#bird_box input:focus {
    outline-width: 0;
}

#bird_complete{
	width: 200px;
	margin: 0;
	background-color: white;
	border-color: #e3e3e3;
	border-top-width: 0;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	visibility: hidden;
}

#bird_list{
	background-color: white;/*#f2f2f2;*/
	border: 1px solid #e3e3e3;
	margin: 10px auto;
	width: 200px;
	height: 123px;
	padding: 5px;
	list-style: none;
	text-align: left;
	overflow-y: scroll;
}

#bird_list li {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 2px 0 2px 5px;
}