body, html {
	height: 100%;
	margin: 0;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-between;
	
	background-color: white;
	border-bottom-style: solid;
	border-color: #6a6a6a;
	border-width: 2px;
	height: 60px;
}

#logo {
	flex-grow: 0;
	margin: 7px;
}

#logo a img {
	object-fit: contain;
	height: 100%;
	width: auto;
}

nav {
	display: flex;
	flex-grow: 0;
	margin: 7px;
	align-items: center;
}

nav a {
	justify-content: space-evenly;
	margin: 0 7px;
	
	color: #6a6a6a;
	text-align: center;
	text-decoration: none;
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	width: 60%;
	margin: 10px auto;
}









main {
	width: 100%;
	height: calc( 100% - 62px );
}

#mapid { 
	width: 100%;
	height: 100%;
	z-index: 500;
}

#mapid ul {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 401;
	bottom:1.2em;
	right:0.6em;
	list-style: none;
}

#mapid ul li{
	display: block;
	overflow: hidden;
	width: 35px;
	background-color: white;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: 50% 50%;
}

/*#mapid ul li a:hover{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}*/

#mapid ul li a{
	display: block;
}

#altitude {
	height: 34px;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 0.6em 0;
	border:1px solid #e3e3e3;
	
	border-top:0px;
	border-radius: 0 0 10px 10px;
	padding: 5px;
	
	
}
#camera {
	height: 34px;
	border-radius: 10px 10px 10px 10px;
	margin: 0.6em 0;
	padding: 5px;
	border:1px solid #e3e3e3;}
#bird {
	height: 34px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
	margin: 0.6em 0;}

#alt_slider {
	height: 200px;
	border-radius: 10px 10px 0 0;
	margin: 0;
	padding: 5px;
	border-left:1px solid #e3e3e3;
	border-top:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
}
#alt_val {
	height: 25px;
	border-radius: 0;
	
	margin: 0;
	padding: 0;
	padding: 0 5px;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	line-height: 25px;
	text-align: center;
}


#alt_val input {
	border: 0px;
	width: 30px;
	margin: 0;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#slider-vertical {
	margin: 15px auto;
	height: 170px;
}
