
{% extends "index.html" %}
{% block content %}

		<div id="mapid">
			<ul id="controls">
				<li id="delete_group"><ul>
					<li id="delete_btn" style='background-image: url("static/images/ic_delete.png")'><a onclick='onClearClick()'><span>Clear</span></a></li>
				</ul></li>
				<li id="adjust_group"><ul>
						<li id="altitude_btn" style='background-image: url("static/images/ic_altitude.png")'><a onclick='onAltitudeClick()'><span class="adjust_label">Altitude</span></a></li>
						<li id="heading_btn" style='background-image: url("static/images/ic_heading.png")'><a onclick='onHeadingClick()'><span class="adjust_label">Heading</span></a></li>
						<li id="overlap_btn" style='background-image: url("static/images/ic_overlap.png")'><a onclick='onOverlapClick()'><span class="adjust_label">Overlap</span></a></li>
						<li id="camera_btn" style='background-image: url("static/images/ic_camera.png")'><a onclick='onCameraClick()'><span class="adjust_label">Camera Settings</span></a></li>
						<li id="birds_btn" style='background-image: url("static/images/ic_bird.png")'><a onclick='onBirdClick()'><span class="adjust_label">Birds</span></a></li>
					</ul>
					<div id="altitude_box">
						<div id="altitude_slider"></div>
						<input type="text" id="altitude_value" readonly>
					</div>
					<div id="heading_box">
						<div id="heading_slider"></div>
						<input type="text" id="heading_value" readonly>
					</div>
					<div id="overlap_box">
						<div id="overlap_slider"></div>
						<input type="text" id="overlap_value" readonly>
					</div>
					<div id="camera_box">
						<h6>Resolution</h6>
						<input type="text" id="resolution_input" name="resolution_value" value="640x480">
						<h6>View Angle</h6>
						<input type="text" id="view_angle_input" name="view_angle_value" value="58">
					</div>
					<div id="bird_box">
						<input type="text" name="bird_input" id="bird_input" placeholder="eg. Wrybill">
						<input type="text" name="bird_complete" id="bird_complete" readonly onclick="add_bird()">
						<ul id="bird_list"></ul>
					</div>
				
				</li>
				<li id="export_group"><ul>
					<li id="export_btn" style='background-image: url("static/images/ic_export.png")'><a onclick='onExportClick()'><span>Export</span></a></li>
				</ul></li>
				
			</ul>
		</div>
		<script src="static/js/script.js"></script>

{% endblock %}