
{% extends "index.html" %}
{% block content %}
		<div id="mapid">
			<!--div id="alt_slider><div id="slider-vertical" style="height:100%;"></div></div-->
			<ul id="controls">
				<li id="alt_slider"><div id="slider-vertical"></div></li>
				<li id="alt_val"><input type="text" id="amount" readonly></li>
				<li id="altitude" style='background-image: url("static/images/ic_altitude.png")'><a onclick=''></a></li>
				<li id="camera" style='background-image: url("static/images/ic_camera.png")'><a onclick=''></a></li>
				<li id="bird" style='background-image: url("static/images/ic_bird.png")'><a onclick=''></a></li>
			</ul>
		</div>
		<script src="static/js/classes.js"></script>
		<script src="static/js/script.js"></script>
	

{% endblock %}