<!DOCTYPE html>
<html>
	<head>
		<title>Birds iView</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<link rel="stylesheet" href="../static/css/testingindex_style.css"/>
		<!--link rel="stylesheet" href="../static/css/slidestyle.css"/-->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
		<link rel="icon" href="static/images/favicon.png" type="image/png" sizes="349x349">


		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->


	</head>
	<body>
		<header>
			<div id="title_div"><h1>{{ title }}</h1></div>
		    <img class="menu_icon" onclick="show_sidebar()" src="../static/images/ic_menu.png" alt="menu icon"/>
			<a class="logo_small" href="javascript:alert('logo_click')"><span style="color:#ff3b3f">Birds</span> <span style="color:#833103">iView</span></a>
			<a id="username_title" href="/account">{{ username_str }}</a>
		</header>
		<div id="sidebar">
		    <div id="sidebar_title">
                <img class="menu_icon" id="sidebar_menu_icon" onclick="hide_sidebar()" src="../static/images/ic_menu.png" alt="menu icon"/>
			    <a class="logo_small" id="sidebar_logo_small" href="javascript:alert('logo_click')"><span style="color:#ff3b3f">Birds</span> <span style="color:#833103">iView</span></a>
		    </div>
		    <ul id="sidebar_options">
		        <li>{{ username_str }}</li>
		        <li>Files</li>
		        <li>New</li>
		    </ul>

		</div>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
	<script src="static/js/testingindex_script.js"></script>
</html>
