{% extends "testingindex.html" %}
{% block content %}
            <link rel="stylesheet" href="../static/css/testingplan_style.css"/>

            <div id="mapid">
            	<div id="map_type"><a onclick='onMapTypeClick()'>Streets</a></div>
            	<div id="control_bar">
                    <img id="control_toggle_btn" src="../static/images/ic_hide.png" onclick="toggle_control_bar()"/>
                	<div id="control_bar_header">
                        <img src="../static/images/testingic_altitude.png" onclick=""/>
                        <img src="../static/images/testingic_heading.png" onclick=""/>
                        <img src="../static/images/testingic_overlap.png" onclick=""/>
                        <img src="../static/images/testingic_camera.png" onclick=""/>
                        <img src="../static/images/testingic_bird.png" onclick=""/>
                    </div>
                    <div id="control_bar_options">
                        <div class="control_box" id="altitude_box">
                            <img src="../static/images/testingic_altitude.png" onclick=""/>
                            <h4>Altitude</h4>
                        </div>
                        <div class="control_box" id="heading_box">

                        </div>
                    </div>

            	</div>
            </div>
            <script src="static/js/testingplan_script.js"></script>

{% endblock %}