{% extends "testingindex.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/testingfiles_style.css"/>
<div id="flight_plans_info">
    <div id="flight_plans_title">
        <h2>Flight Plans</h2>
        <img class="add_icon" src="../static/images/ic_add.png" onclick="location.href='/testingplan'"/>
    </div>
    <ul class="file_list">

        {% for filename in filenames %}
            <li><a>{{ filename }}</a><div class="options">
            <img src="../static/images/ic_export2.png" onclick="export_flight_path('{{ filename }}')">
            <img src="../static/images/ic_edit.png" onclick="edit_flight_path('{{ filename }}')">
            <img src="../static/images/ic_delete2.png" onclick="delete_flight_path('{{ filename }}')"></div></li>
        {% endfor %}
    </ul>


</div>
<div id="analyses_info">
    <div id="analyses_title">
        <h2>Analyses</h2>
        <img class="add_icon" src="../static/images/ic_add.png" onclick=""/>
    </div>
    <ul class="file_list">
        <li>Analyses are not yet available</li>
    </ul>

</div>
<script src="../static/js/testingfiles_script.js"></script>
{% endblock %}


{% block sidebar_list %}
                <li onclick="location.href='/testingaccount'">{{ username_str }}</li>
		        <li onclick="location.href='/testingfiles'">Files</li>
		        <li onclick="location.href='/testingplan'">New</li>
{% endblock %}
{#
{ % block title_heading % }
            <h1>Your Files</h1>
{% endblock %}#}