{% extends "testingindex.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/testingaccount_style.css"/>
<div id="account_info">
    <form id="change_password" action="">
        <h3>Create an Account</h3>
        <span class="box_label">username</span>
        <input class="text_input" type="text" name="current_password">

        <span class="box_label">password</span>
        <input class="text_input" type="text" name="new_password">

        <span class="box_label">confirm password</span>
        <input class="text_input" type="text" name="confirm_new_password">

        <input id="update_password_button" type="submit" value="Sign Up">
        <br><p id="update_password_msg">The passwords do not match</p>
    </form>
</div>
{% endblock %}