{% extends "testingindex.html" %}
{% block content %}

        <link rel="stylesheet" href="../static/css/testinghome_style.css"/>

		<p id="top_text"><span style="font-weight: bold; color: #ff3b3f">Birds</span> <span style="font-weight: bold; color: #833103">iView</span>
		is a better way to undertake bird counts for long-term bird monitoring. <br>
			The idea is to fly drones over bird populations and take aerial images. <br>
			These images can then be sifted through later to count what birds there are.</p>
		<div id="sky_box">
			<img id="drone_photo_img" src="static/images/takingdronephotos.png" style="display:none">
		</div>
		<div id="help_box">
			<h2>How to Use the "Plan" Page</h2>
			<div id="grid_box">
				<p style="grid-row-start: 1;">

				Find where you want to do your bird count.
				It might be easier to find the general location in the Streets mode and
				then switch to Satellite mode to select the survey area precisely.

				</p>
				<img style="grid-row-start: 1;" src="static/images/gif1_locate.gif">
				<p style="grid-row-start: 2;">

				Select the area you want to survey. Click
				on the map to create a boundary points, drag them around and click on them
				to remove them. You can also click the "Clear" button to remove everything
				from the map.<br>
				<i>Note: Each new boundary point will be inserted into
				the closest edge of the polygon.</i>

				</p>
				<img style="grid-row-start: 2;" src="static/images/gif2_select.gif">
				<p style="grid-row-start: 3;">

				Adjust the drone altitude. Click on the
				altitude icon and then move the slider up and down. Flying low means
				good quality images but causes long flight paths and possible disturbance
				to the birds below. Flying high means short flight paths but worse image quality.<br>
				<i>To hide the slider, click the altitude icon again or press "esc" on your keyboard.</i>

				</p>
				<img style="grid-row-start: 3;" src="static/images/gif3_altitude.gif">
				<p style="grid-row-start: 4;">

				Adjust the heading. Flying parallel or perpendicular
				to the long axis of the survey area usually produces good short flight paths.

				</p>
				<img style="grid-row-start: 4;" src="static/images/gif4_heading.gif">
				<p style="grid-row-start: 5;">

				Adjust the overlap between images. Large overlap
				reduces the changes of missing details between images, but also makes longer flight paths.

				</p>
				<img style="grid-row-start: 5;" src="static/images/gif5_overlap.gif">
				<p style="grid-row-start: 6;">

				Enter the settings of the drone camera. Larger view angle
				makes shorter flight paths but worsens image quality, and higher resolution improves image quality.

				</p>
				<img style="grid-row-start: 6;" src="static/images/gif6_camera.gif">
				<p style="grid-row-start: 7;">

				Type the names of bird species that you're expecting to find
				in the survey, and add them to the list by pressing Enter when they appear in the autofill.
				Check that they all appear green. If they are orange or red, they are too small to detect them
				in the result images, so  by flying lower or by using a better camera. <br>
				<i>You can remove species by double clicking on them.</i>

				</p>
				<img style="grid-row-start: 7;" src="static/images/gif7_birds.gif">
				<p style="grid-row-start: 8;">

				When you're happy with the generated flight path,
				click the Export button to export it. This will download a csv file which is
				specifically formatted to be imported into the Litchi Mission Hub.

				</p>
				<img style="grid-row-start: 8;" src="static/images/gif8_export.gif">
				<p style="grid-row-start: 9;">

				Import the csv file into the Litchi Mission Hub. From there you are ready to
				download the flight path onto your phone and do the bird count at the site. <br>
				<i>The Litchi app costs roughly $40</i>

				</p>
				<img style="grid-row-start: 9;" src="static/images/gif9_litchi.gif">
			</div>
		</div>
		<script src="static/js/home_script.js"></script>
{% endblock %}


{% block sidebar_list %}
                <li onclick="location.href='/testingaccount'">{{ username_str }}</li>
                {% if current_user.is_authenticated %}
		        <li onclick="location.href='/testingfiles'">Files</li>
		        <li onclick="location.href='/testingplan'">New</li>
		        {% endif %}
{% endblock %}